div.div{
    display: flex;
    flex-direction: row;
}

#st{
    width: 50%;

}

#nd{
    width: 15%;
}

#rd{
    width: 35%;
}

div.div:first-child{
    display: flex;
    flex-direction: row;
    background-color: gray;
}

div{
    border: darkgray 1px solid;
}